.dateBlock {
    text-align: center;
    display: flex;
    justify-content: center;
    position: relative;
}
.dateBlock>div {
    background-color: #00C6AE !important;
}

.dateBlock>div:not(div:last-of-type) {
    position: relative;
    bottom: 55%;
    height: 7.7vh;
    width: 7.7vh;
    align-self: center;
    background-color: white;
}

.dateBlock>div>div {
    vertical-align: middle;
    height: 100%;
}

.dateBlock p {
    font-size: 3.5vh;
    height: 60%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color: white;
}

.dateBlock p+p {
    font-size: 1.3vh;
    height: 25%;
    display: block !important;
    position: relative;
}

.rightDateContainer p {
    color: #455399 !important;
}

.dateBlock div>div>div {
    height: 10%;
    width: 100%;
    text-align: end;
    display: flex;
    justify-content: end;
    align-items: center;
    position: relative;
}

.rightStripeContainer {
    height: 10%;
    width: 100%;
    text-align: end;
    display: flex;
    justify-content: start !important;
    align-items: center;
}

.circle {
    width: 10% !important;
    height: 100% !important;
    border-radius: 50%;
    border: solid white;
    border-width: 1px;
}

.circle-right {
    width: 10% !important;
    height: 100% !important;
    border-radius: 50%;
    border: solid #455399;
    border-width: 1px;
}

.stripe {
    width: 45% !important;
    height: 10% !important;
    background-color: white !important;
}

.stripe-right {
    width: 45% !important;
    height: 10% !important;
    background-color: #455399 !important;
}

.rightDateContainer {
    background-color: white !important;
}