.mainSettings {
    height: 100%;
    width: 100%;
    background-color: #f4f4f5;
}

.mainSettings>div:first-of-type div {
    margin-left: 16px;
    display: inline;
    font-size: 20px;
    height: 100%;
}

.settingsHeader {
    display: inline-flex;
    align-items: center;
    background-color: #ffffff;
    width: 100%;
    border-bottom: 1px solid #dfe1e5;
}

.groupSettings {
    width: 100%;
    padding: 8px;
    background-color: #ffffff;
    font-size: 16px;
    margin-bottom: 12px;
}

.groupSettings>p {
    padding: 0.5rem 1rem;
    font-size: 16px;
}

.groupSettings>div {
    padding: 0px 14px;
    font-size: 16px;
}

.groupSettings>div>div {
    display: inline;
}

.groupSettings>div>div:nth-child(2) {
    padding-right: 8px;
    margin-left: 8px;
    position: absolute;
    right: 25px;
    left:165px
}

.groupSelectSet {
    padding-left: 8px;
    width: 100%;
    bottom: 0.9rem;
}

.groupSettings>div>div:first-of-type {
    height: 100%;
    vertical-align: bottom;
    padding: 1rem 0.1rem;
}

.groupSettings > div>div:nth-child(3){
    padding: 0px 0px;
    display: block;
}

.cabinetSettings {
    width: 100%;
    padding: 8px;
    background-color: #ffffff;
    font-size: 16px;
    margin-bottom: 12px;
}

.cabinetSettings>p {
    padding: 0.5rem 1rem;
    font-size: 16px;
}

.cabinetSettings>div {
    padding: 0px 14px;
    font-size: 16px;
}

.cabinetSettings>div>div {
    display: inline;
}

.cabinetSettings>div>div:nth-child(2) {
    padding-right: 8px;
    margin-left: 8px;
    position: absolute;
    right: 25px;
    left:180px
}

.cabinetSelectSet {
    padding-left: 8px;
    width: 100%;
    bottom: 0.9rem;
}

.cabinetSettings>div>div:first-of-type {
    height: 100%;
    vertical-align: bottom;
    padding: 1rem 0.1rem;
}

.cabinetSettings > div>div:nth-child(3){
    padding: 0px 0px;
    display: block;
}

.teacherSettings {
    width: 100%;
    padding: 8px;
    background-color: #ffffff;
    font-size: 16px;
    margin-bottom: 12px;
}

.teacherSettings>p {
    padding: 0.5rem 1rem;
    font-size: 16px;
}

.teacherSettings>div {
    padding: 0px 14px;
    font-size: 16px;
}

.teacherSettings>div>div {
    display: inline;
}

.teacherSettings>div>div:nth-child(2) {
    padding-right: 8px;
    margin-left: 8px;
    position: absolute;
    right: 25px;
    left:230px
}

.teacherSelectSet {
    padding-left: 8px;
    width: 100%;
    bottom: 0.9rem;
}

.teacherSettings>div>div:first-of-type {
    height: 100%;
    vertical-align: bottom;
    padding: 1rem 0.1rem;
}

.teacherSettings > div>div:nth-child(3){
    padding: 0px 0px;
    display: block;
}