.shedule {
    height: 100%;
    overflow: scroll;

}

.shedule::-webkit-scrollbar {
    display: none;
}

.shedule {
    -ms-overflow-style: none;
    scrollbar-width: none;
    position: relative;
}

.shedule>p {
    margin-left: 5%;
    font-size: 2.2vh;
}

.dayWeekContainer {
    background-color: white;
    display: grid;
    grid-template-columns: 3px minmax(100px, 351px);
    height: 60px;
    width: 100%;
    position: relative;
    border: 0 solid transparent;
}

.dayWeekContainer>div:first-of-type {
    background-color: blueviolet;
    width: 3px;
    height: 100%;
}

.dayWeekContainer>div+div {
    display: grid;
    grid-template-columns: 70fr 2fr 260fr;
    height: 100%;
}



.dayWeekContainer>div:last-child>div:nth-child(1) p {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 60%;
    font-size: 1.5rem;
}

.dayWeekContainer>div:last-child>div:nth-child(1) span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30%;
    font-size: 0.7rem;
}

.dayWeekContainer>div:last-child>div:nth-child(2) {
    background-color: #F3F5F9 !important;
}

.dayWeekContainer>div:last-child>div:nth-child(3) {
    display: flex;
    align-items: center;
    margin-left: 10%;
    font-size: 1rem;
}

.dayWeekContent {
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    max-height: 0;
    display: grid;
    grid-template-columns: 1fr 50fr;
    width: 100%;
    position: relative;
    background-color: white;
    margin-top: -1px;
}

.dayWeekContent>div:first-of-type {
    background-color: blueviolet;
    width: 3px;
    height: 100%;
}

.dayWeekContent>div+div {
    display: grid;
    grid-template-columns: 70fr 2fr 260fr;
    height: 100%;
}

.dayWeekContent>div:last-child>div:nth-child(2) {
    background-color: #F3F5F9 !important;
}

.dayWeekContent>div:last-child>div:nth-child(3) {

    align-items: center;
    margin-left: 10%;
}

.intoDayWeekContent>p:first-of-type {
    width: 100%;
    font-size: 0.6rem;
    margin-bottom: 0.9rem;
}

.intoDayWeekContent>div {
    margin-bottom: 0.9rem;
}

.intoDayWeekContent>div p {
    width: 100%;
    font-size: 0.8rem;
    min-height: 0.8rem;
}

.reloadCat {
    height: 100%;
    width: 100%;
    object-fit: contain;
    position: absolute;
    top: 0;
    opacity: 0;
    background-color: #F3F5F9;
}

.weekDate {
    width: 15.4vh !important;
    position: absolute !important;
    height: 100%;
    opacity: 0;
    bottom: 55% !important;
}

.buttonDayWeekContainer {
    width: 100%;
    max-width: 355px;
    margin: 10px 20px;
    z-index: 2;
    position: relative;
}

.contLessonsBlock{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}