.main {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #F3F5F9;
    grid-template-rows: 0.5fr 0.15fr 1.3fr;
    display: grid;
}

.headerGrid {
    background-color: #455399;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

.leftIconsBlock {
    align-self: center;
}

.rightItemsBlock {
    margin-left: auto;
}

.dateBlock {
    text-align: center;
    display: flex;
    justify-content: center;
    position: relative;
}
.dateBlock>div {
    background-color: #00C6AE !important;
}

.dateBlock>div:not(div:last-of-type) {
    position: relative;
    bottom: 55%;
    height: 7.7vh;
    width: 7.7vh;
    align-self: center;
    background-color: white;
}

.dateBlock>div>div {
    vertical-align: middle;
    height: 100%;
}

.dateBlock p {
    font-size: 3.5vh;
    height: 60%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color: white;
}

.dateBlock p+p {
    font-size: 1.3vh;
    height: 25%;
    display: block !important;
    position: relative;
}

.rightDateContainer p {
    color: #455399 !important;
}

.dateBlock div>div>div {
    height: 10%;
    width: 100%;
    text-align: end;
    display: flex;
    justify-content: end;
    align-items: center;
    position: relative;
}

.rightStripeContainer {
    height: 10%;
    width: 100%;
    text-align: end;
    display: flex;
    justify-content: start !important;
    align-items: center;
}

.circle {
    width: 10% !important;
    height: 100% !important;
    border-radius: 50%;
    border: solid white;
    border-width: 1px;
}

.circle-right {
    width: 10% !important;
    height: 100% !important;
    border-radius: 50%;
    border: solid #455399;
    border-width: 1px;
}

.stripe {
    width: 45% !important;
    height: 10% !important;
    background-color: white !important;
}

.stripe-right {
    width: 45% !important;
    height: 10% !important;
    background-color: #455399 !important;
}



.rightDateContainer {
    background-color: white !important;
}

.headerCenterBlock {
    align-self: center;
    text-align: center;
}

.headerCenterBlock>span {
    font-weight: bold;
    font-size: 200%;
    color: white;
    display: block;

}

.headerCenterBlock>div>div:focus {
    background-color: transparent !important;
}

.settingsButton {
    float: right;
}

.groupSelect {
    width: 60%;
    height: 30%;
    background-color: transparent !important;
    text-align: start;
}

.shedule {
    height: 93%;
    overflow: scroll;

}

.shedule::-webkit-scrollbar {
    display: none;
}

.shedule {
    -ms-overflow-style: none;
    scrollbar-width: none;
    position: relative;
}

.shedule>p {
    margin-left: 5%;
    font-size: 2.2vh;
}

.weekDate {
    width: 15.4vh !important;
    position: absolute !important;
    height: 100%;
    opacity: 0;
    bottom: 55% !important;
}

.dayWeekContainer {
    background-color: white;
    display: grid;
    grid-template-columns: 3px minmax(100px, 351px);
    height: 60px;
    width: 100%;
    position: relative;
    border: 0 solid transparent;
}

.dayWeekContainer>div:first-of-type {
    background-color: blueviolet;
    width: 3px;
    height: 100%;
}

.dayWeekContainer>div+div {
    display: grid;
    grid-template-columns: 70fr 2fr 260fr;
    height: 100%;
}



.dayWeekContainer>div:last-child>div:nth-child(1) p {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 60%;
    font-size: 1.5rem;
}

.dayWeekContainer>div:last-child>div:nth-child(1) span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30%;
    font-size: 0.7rem;
}

.dayWeekContainer>div:last-child>div:nth-child(2) {
    background-color: #F3F5F9 !important;
}

.dayWeekContainer>div:last-child>div:nth-child(3) {
    display: flex;
    align-items: center;
    margin-left: 10%;
    font-size: 1rem;
}

.buttonDayWeekContainer {
    width: 100%;
    max-width: 355px;
    margin: 10px 20px;
    z-index: 2;
    position: relative;
}

.contLessonsBlock{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.cs {
    background-color: black;
}

.dayWeekContent {
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    max-height: 0;
    display: grid;
    grid-template-columns: 1fr 50fr;
    width: 100%;
    position: relative;
    background-color: white;
    margin-top: -1px;
}

.dayWeekContent>div:first-of-type {
    background-color: blueviolet;
    width: 3px;
    height: 100%;
}

.dayWeekContent>div+div {
    display: grid;
    grid-template-columns: 70fr 2fr 260fr;
    height: 100%;
}

.dayWeekContent>div:last-child>div:nth-child(2) {
    background-color: #F3F5F9 !important;
}

.dayWeekContent>div:last-child>div:nth-child(3) {

    align-items: center;
    margin-left: 10%;
}

.intoDayWeekContent>p:first-of-type {
    width: 100%;
    font-size: 0.6rem;
    margin-bottom: 0.9rem;
}

.intoDayWeekContent>div {
    margin-bottom: 0.9rem;
}

.intoDayWeekContent>div p {
    width: 100%;
    font-size: 0.8rem;
    min-height: 0.8rem;
}

.reloadCat {
    height: 100%;
    width: 100%;
    object-fit: contain;
    position: absolute;
    top: 0;
    opacity: 0;
    background-color: #F3F5F9;
}

.errorAlert{
    color: #F4C7C7 !important;
    background-color: #160B0B !important;
}

.alertBtn{}